/* font-family: 'Amatic SC', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Saira Stencil One', cursive;
font-family: 'Slackey', cursive;
font-family: 'Swanky and Moo Moo', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Walter Turncoat', cursive; */


.header {
  background-color: rgb(49, 49, 49);
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
  max-width:600px;
}

.cards {
  display: inline-flex;
}



.sections {
  font-family: 'Slackey', cursive; 
  /* padding: 30px;
  margin: 10px; */
}

.card-text {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.availableIngredients {
  text-align: left;
}

.missingIngredients {
  text-align: left;
  color: red;
}

.recipeRow {
  height: fixed, 50px;
  overflow: hidden;
}

.ingredientScroll {
  overflow-y:auto;
  height: 100px;
}

.addToList {
  font-size: 10px;
  vertical-align: text-bottom;
}

.newFoodItem {
  display: block;
  border-style: solid;
}

[class*="col"] {
  padding: 1rem;
  background-color: red;
  border: 4px solid #fff;
}