/* font-family: 'Amatic SC', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Saira Stencil One', cursive;
font-family: 'Slackey', cursive;
font-family: 'Swanky and Moo Moo', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Walter Turncoat', cursive; */

.App {
  text-align: center;
}

.header {
  background-color: rgb(49, 49, 49);
}

.cards {
  display: inline-flex;
}

.sections {
  border-style: solid;
  font-family: 'Slackey', cursive; 
  height: auto;
  padding: 30px;
  margin: 20px;
}

.card-text {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}